{% from "layout/macros.html" import gjms_events with context %}
{% from "layout/macros.html" import gjms_games with context %}
{% extends "backend/base.html" %}

{% block gjms_title %}Home{% endblock %}
{% block gjms_site %}home{% endblock %}

{% block gjms_content %}
    <h1>{{ config.get("gjms", "label") }}</h1>
    <h2>Hello, {{ config.get("gjms", "manager").split(" ")[0] }}. Welcome to the core.</h2>
    <p>This is the backend of the Game Jam Managment System.</p>
    <p>Here you can moderate everything regarding your game jam.</p><br>
    <h2 class="bold">Quick overview</h2>
    <div class="gjms-form-container recent">
        <a href="../../gjms/events"><h3><i class="fa fa-flag"></i> Recent events</h3></a>
        {{ gjms_events(3) }}
    </div>

    <div class="gjms-form-container recent">
        <a href="../../gjms/games"><h3><i class="fa fa-gamepad"></i> Recent games</h3></a>
        {{ gjms_games(3) }}
    </div>
{% endblock %}