/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *      Author: Richard Blechinger (http://twitter.com/F0lis)
 *
 *      style.less
 *
 *      Some basic classes for setting up your side.
 *      Change at will. Be sure to compile it to style.css
 *      afterwards, though.
 */
body {
  background: #dddddd;
}
header {
  background: #333333;
  height: 50px;
  width: 100%;
}
.gjms-label {
  color: #FFF;
  font: 24px Oswald;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 7px;
}
.gjms-menu {
  padding: 9px 0 0 20px;
}
.gjms-menu-label {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: -20;
  background: #666666;
  font: 20px Open Sans;
  text-align: center;
  color: #FFF;
}
.gjms-menu-entry {
  font-size: 32px;
  color: #111111;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding-right: 20px;
}
.gjms-menu-entry:hover {
  color: #0070ba;
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  background: #333333;
  color: #FFF;
  font: 14px Open Sans;
}
.gjms-information {
  margin-top: 2px;
}
