/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 *      Author: Richard Blechinger (http://twitter.com/F0lis)
 *
 *      style.less
 *
 *      Some basic classes for setting up your site.
 *      Change at will. Be sure to compile it to style.css
 *      afterwards, though.
 */
body {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
p,
li {
  line-height: 120%;
  font-size: 1.05rem;
}
h2,
h3,
h4,
body {
  font-family: Roboto;
  color: #444444;
}
h1 {
  margin-bottom: 0.5rem;
  font-family: Oswald;
  font-size: 2.33rem;
  color: #444444;
}
h2 {
  margin-bottom: 1rem;
  font-size: 1.55rem;
}
h3 {
  font-size: 1.40rem;
}
h4 {
  font-size: 1.22rem;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #aaaaaa;
  padding: 5px;
  margin-top: 5px;
  width: 200px;
}
input[type="submit"] {
  padding: 5px 10px;
  min-width: 80px;
  border: 0;
  background-color: #0070ba;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #44b4fe;
}
select {
  border: 1px solid #aaaaaa;
  padding: 4px 5px;
  margin-top: 5px;
  width: 213px;
  background: #ffffff;
}
label[for="csrf_token"] {
  display: none;
}
#gjms-header {
  width: 100%;
  background: #0070ba;
}
.gjms-menu-entry {
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1.5rem;
  transition: 0.3s all;
  color: #ffffff;
}
.gjms-menu-entry .fa {
  font-size: 100%;
  color: #ffffff;
  transition: 0.3s all;
}
.gjms-menu-entry:hover {
  background: #ffffff;
  color: #0070ba;
}
.gjms-menu-entry:hover .fa {
  color: #0070ba;
}
.home .gjms-menu-entry.home,
.games .gjms-menu-entry.games,
.users .gjms-menu-entry.users,
.config .gjms-menu-entry.config,
.events .gjms-menu-entry.events {
  background: #ffffff;
  color: #0070ba;
}
.home .gjms-menu-entry.home .fa,
.games .gjms-menu-entry.games .fa,
.users .gjms-menu-entry.users .fa,
.config .gjms-menu-entry.config .fa,
.events .gjms-menu-entry.events .fa {
  color: #0070ba;
}
.bold {
  font-weight: 700;
}
#gjms-content {
  width: 95%;
  padding: 2.5% 2.5%;
}
.gjms-form-container {
  display: inline-block;
  float: left;
  width: 250px;
}
.gjms-form {
  margin-top: 1.5rem;
}
.gjms-row {
  margin-top: 0.5rem;
}
.gjms-row.boolean {
  margin-top: 0;
}
.gjms-row.boolean .gjms-cell:first-child {
  width: 9rem;
}
.gjms-row.boolean .gjms-cell:last-child {
  padding-top: 1px;
}
.gjms-row.boolean .gjms-label {
  font-size: 100%;
}
.gjms-cell {
  display: inline-block;
}
.gjms-label {
  font-size: 80%;
  width: 212px;
}
.gjms-required,
.gjms-field-error {
  color: red;
}
.gjms-field-error {
  float: right;
}
.config-form input[type="submit"] {
  margin-top: 1.9rem;
}
.gjms-db-url {
  margin-top: 10px;
  font-size: 80%;
}
