{% macro gjms_form(form) -%}
    <form action="/gjms/config/" method="POST">
        <ul class="gjms-form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <li class="gjms-row {% if field.type == 'BooleanField' %}boolean{% endif %}">
                <span class="gjms-cell">
                    {{ field.label|e }}
                    {% if field.flags.required %}
                        <span class="gjms-required">*</span>
                    {% endif %}
                </span>
                <span class="gjms-cell">{{ field }}</span>
                {% if field.errors %}
                    {% for error in field.errors %}
                      <span class="gjms-field-error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Save">
    </form>
{%- endmacro %}