/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/*
 *      Author: Richard Blechinger (http://twitter.com/F0lis)
 *
 *      style.less
 *
 *      Some basic classes for setting up your site.
 *      Change at will. Be sure to compile it to style.css
 *      afterwards, though.
 */

@gjms-grey:     #333;
@gjms-light:    #DDD;
@gjms-medium:   #777;
@gjms-white:    #FFF;
@gjms-blue:  #0070BA;

body { background-color: @gjms-white; }
h1, h2, h3 { font-family: Oswald; color: #333; }
h1 { font-size: 2.55rem; .fa { font-size: 2.75rem; }}
h2 { font-size: 2.25rem; .fa { font-size: 2.50rem; }}
h3 { font-size: 2.00rem; .fa { font-size: 2.25rem; }}

footer {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;

    .gjms-version {
        margin-bottom: 10px;
        margin-right: 15px;

        text-align: right;
        font: 85% Open Sans;
        color: @gjms-medium;
    }

}

.gjms-config .config {
    background-color: @gjms-blue;
    border-bottom: 1px dotted @gjms-white;
    color: @gjms-white;
    cursor: pointer;

    .fa { color: @gjms-white; }
}

.gjms-content {
    margin-left: 50px;
    padding: 50px;

    width: 100%;

    @media (min-width: 1024px) {
        width: 70%;

        margin-left: auto;
        margin-right: auto;
    }
}

.gjms-form {
    margin-top: 2rem;
    margin-bottom: 2rem;

    label[for="csrf_token"] {
        display: none;
    }
}

.gjms-cell {
    display: table-cell;
    width: 150px;
    margin: 0;
    padding: 0;

    font: 100% Open Sans;
}

.gjms-required {
    color: @gjms-medium;
    padding-left: 0.75em;
}

.gjms-offcanvas-nav {
    position: fixed;
    top: 0;
    left: -250px;

    z-index: 2000;

    width: 250px;
    height: 100%;

    background-color: @gjms-light;

    ul {
        width: 100%;
        list-style-type: none;

        li {
            padding-top: .25rem;
            padding-bottom: .25rem;
            padding-left: 1rem;

            width: 100%;

            border-bottom: 1px dotted @gjms-grey;
            font: 150% Open Sans;
            font-weight: 800;
            color: @gjms-grey;

            transition: 0.3333s all ease-in-out;
            .fa { transition: 0.3333s all ease-in-out; }

            &:hover {
                background-color: @gjms-blue;
                border-bottom: 1px dotted @gjms-white;
                color: @gjms-white;
                cursor: pointer;

                .fa { color: @gjms-white; }
            }
        }
    }
}

.gjms-offcanvas-bar {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2000;

    width: 3rem;
    height: 100%;

    background-color: @gjms-grey;
}

.gjms-offcanvas-trigger {
    position: absolute;
    top: 50%;
    margin-top: -30px;

    padding: 15px 20px 15px 40px;

    border-radius: 90px;

    font-size: 200%;
    color: @gjms-light !important;
    background-color: @gjms-grey;

    &:hover {
        cursor: pointer;
    }
}

.gjms-menu-label {
    margin-left: -2px;
    margin-top: 50px;

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);

    text-transform: uppercase;
    font: 24px Open Sans;
    font-weight: 800;
    color: @gjms-blue;
}

.fa {
    margin-right: 1rem;

    color: @gjms-blue;
}