{% macro gjms_games(amount) -%}
    <div class="gjms-event-list">
    {% for game in system.games %}
        {% if loop.index <= amount %}
            <div class="gjms-list-row {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                <span class="gjms-event-data">
                    <span class="bold" title="{{ game.description }}">{{ game.name }}</span>
                    <span class="gjms-author">({{ game.author.name }})</span>
                    <span class="gjms-tool-options">
                        <a href="/game/{{ game.slug }}" title="View game"><i class="fa fa-code"></i></a>
                        <a href="/game/{{ game.slug }}/edit/" title="Edit"><i class="fa fa-wrench"></i></a>
                    </span>
                </span>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{%- endmacro %}

{% macro gjms_events(amount) -%}
    <div class="gjms-event-list">
    {% for event in system.events|sort(attribute="start", reverse=True) %}
        {% if loop.index <= amount %}
            <div class="gjms-list-row {% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                <span class="gjms-event-data">
                    <span class="bold">{{ event.name }}</span>
                    <span class="gjms-date">
                        {% if event.start > time.datetime.today() %}
                            (starts {{ event.start.strftime("%d/%m/%Y") }})
                        {% elif event.start < time.datetime.today() < event.end %}
                            is on! (ends {{ event.end.strftime("%d/%m/%Y") }})
                        {% else %}
                            (ended {{ event.end.strftime("%d/%m/%Y") }})
                        {% endif %}
                    </span>

                    <span class="gjms-tool-options">
                        <a href="/jam/{{ event.slug }}" title="View event"><i class="fa fa-code"></i></a>
                        <a href="/jam/{{ event.slug }}/edit/" title="Edit"><i class="fa fa-wrench"></i></a>
                    </span>
                </span>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{%- endmacro %}

{% macro gjms_error(text) -%}
    <div class="gjms-error">
        <i class="fa fa-exclamation-circle"></i><p><span class="bold">Error:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_notice(text) -%}
    <div class="gjms-notice">
        <i class="fa fa-question-circle"></i><p><span class="bold">Notice:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_success(text) -%}
    <div class="gjms-success">
        <i class="fa fa-check-circle"></i><p><span class="bold">Success:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_messages() -%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    {{ gjms_success(message) }}
                {% endif %}

                {% if category == "notice" %}
                    {{ gjms_notice(message) }}
                {% endif %}

                {% if category == "error" %}
                    {{ gjms_error(message) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}