{% macro gjms_layout_menu() -%}
<div id="gjms-header">
    <nav id="gjms-menu">
        <ul>
            <a href="../../gjms/home/">
                <li class="gjms-menu-entry home">
                    <i class="fa fa-home"></i> Home
                </li>
            </a>

            <a href="../../gjms/users/">
                <li class="gjms-menu-entry users">
                    <i class="fa fa-user"></i> Users
                </li>
            </a>

            <a href="../../gjms/games/">
                <li class="gjms-menu-entry games">
                    <i class="fa fa-gamepad"></i> Games
                </li>
            </a>

            <a href="../../gjms/events/">
                <li class="gjms-menu-entry events">
                    <i class="fa fa-flag"></i> Events
                </li>
            </a>

            <a href="../../gjms/config/">
                <li class="gjms-menu-entry config">
                    <i class="fa fa-cog"></i> Configuration
                </li>
            </a>
        </ul>
    </nav>
</div>
{%- endmacro %}

{% macro gjms_events(amount) -%}
    {% for event in system.events|sort(attribute="start", reverse=True) %}
        {% if loop.index <= amount %}
            <p class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                <span class="bold">{{ event.name }}</span>
                <span class="gjms-date">
                    {% if event.start > time.datetime.today() %}
                        (starts {{ event.start.strftime("%d/%m/%Y") }})
                    {% elif event.start < time.datetime.today() < event.end %}
                        is on! (ends {{ event.end.strftime("%d/%m/%Y") }})
                    {% else %}
                        (ended {{ event.end.strftime("%d/%m/%Y") }})
                    {% endif %}
                </span>
            </p>
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro gjms_error(text) -%}
    <div class="gjms-error">
        <i class="fa fa-exclamation-circle"></i><p><span class="bold">Error:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_notice(text) -%}
    <div class="gjms-notice">
        <i class="fa fa-question-circle"></i><p><span class="bold">Notice:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_success(text) -%}
    <div class="gjms-success">
        <i class="fa fa-check-circle"></i><p><span class="bold">Success:</span> {{ text }}</p>
    </div>
{%- endmacro %}

{% macro gjms_messages() -%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    {{ gjms_success(message) }}
                {% endif %}

                {% if category == "notice" %}
                    {{ gjms_notice(message) }}
                {% endif %}

                {% if category == "error" %}
                    {{ gjms_error(message) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endmacro %}